@model List<Trip>;
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}

<a asp-controller="Trip" asp-action="Trip">Add Trip</a>
<table class="table">
    <thead>
        <tr>
            <th>Destination</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Accomodation</th>
            <th>Things to do</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var trip in Model)
        {
            <tr>
                
            
                
                <td>@trip.Destination</td>
                <td>@trip.StartDate</td>
                <td>@trip.EndDate</td>
                <td>
                    <ul>
                        
                        <p>@trip.Accommodation.Name</p>
                        @if(!string.IsNullOrEmpty(trip.Accommodation.Name))
                        {
                            <p>Phone: @trip.Accommodation.Phone</p>
                            <p>Email: @trip.Accommodation.Email</p>
                        }
                        
                    
                    </ul>
                    


                </td>
               <td>
                    <ul>
                        @foreach (var thingToDo in trip.Todos)
                        {
                            <li>@thingToDo.Name</li>
                        }
                    </ul>
               </td>
            </tr>
        }
    </tbody>
</table>
